html{
    scroll-behavior: smooth;
}
body{
    color: #2b2d42;
    font-family: "Roboto", sans-serif;
    background-color: #edf2f4;


}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2f4;
    width: calc(100% - 80px);
    position: fixed;
    padding: 10px 40px;
    z-index: 99999;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5); /* Adjust values as needed */

}
.logo{
    width: 50px;
    height: 50px;
    background-image: url(../images//LogoWithoutName.png) ; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;
    opacity: 0;
    animation: sildeRight 1s ease forwards;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: 700;
    font-style: normal;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}
nav ul li a{
   text-decoration: none;
   color: #2b2d42;
   font-size: 18px;
   position: relative;
   transition: .3s;
   font-weight: 500;
  
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d90429;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1s;

}
nav ul li a:hover::after{
    width: 100%;
 
}
.title{
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #4b5863;

}
#header{
    width: calc(100vw - 20%);
    height: calc(100vh - 8vh);
    display: flex;
    background-color: #edf2f4;
    padding-top: 8vh;
   
    padding: 0 10%;
    align-items: center;
    
}

.container{
    padding: 10px 10%;
}

.header_Hero{
    background-image: url(../images/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:50vw;
    height: 100%;
}

.header_text{
    font-size: 30px;
    width: 50vw;
}
.header_text h3{
    margin-top: 20px;
    font-size: 30px;
    opacity: 0;
    animation: SlideBottom 1s ease forwards;
    animation-delay: .7s;
    height: 40px;
}
.header_text p{
    font-size: 20px;
    padding-top: 25px;
    line-height: 30px;
    opacity: 0;
    animation: SildeLeft 1s ease 1s forwards;
    width: 80%;
}
#Myname{
    color: #d90429;
    font-weight: 600;
    margin-top: 10px;
    font-size: 50px;
    animation: sildeRight 1s ease 1s forwards;
    opacity: 0;


}
.text1{
    font-weight: 600;
    font-size: 28px ;
   color: #8d99ae;
}
/* -----------------------------------About me Section----------------------------------- */
#image-AboutMe{
    height: 550px;
    width: 100%;
    background-image: url(../images/Profile_without\ Back.png);
    background-size: 350%;
    background-position: 46% center;
    border-radius: 15px;
    background-color: #add4d9;
}
#about{
    padding: 40px 0;
    background-color: #edf2f4;
    padding-top: 15vh;
} 
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutcol-1{
    flex-basis: 35%;
}
.aboutcol-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #4b5863;
}
.aboutcol-2 p{
    margin-top: 25px;
    line-height: 35px;
    font-weight: 400;
    font-size: 20px;
}
.tab_title{
    display: flex;
    margin: 10px 0 2.5vh;
}
.tab_links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.tab_links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d90429;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 1s;
    margin-bottom: 10px;
}

.tab_links.active-links::after{
    width: 90%;

}

.tab-contents ul li{
    margin: 10px 0;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
}
.tab-contents ul li span{ 
    font-weight: 500;
    color: #d90429;
    margin-top: 10px;
    
}
.tab-contents{
    display: none;
}
.tab-contents.active-tabs{
    display: block;
}
/* -----------------------------------Services----------------------------------- */
#Services{
    padding: 30px 0;
    padding-top: 10vh;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px; 
    margin-top: 50px;
        
}
.service-list article{
    background: #8d99ae;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 2s ,  transform 0.5s;
}
.service-list article i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list article h2{
    margin-bottom: 15px;
}
.text{
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
}
.service-list article a{
text-decoration: none;
color: #fff;
font-size: 12px;
margin-top: 20px;
display: inline-block;
}
.service-list article:hover{
    background: #add4d9;
    transform: translateY(-10px)
}
/* ----------------------------Portfolio--------------------------- */

#Portfolio{
    padding: 50px 0;
    padding-top: 10vh;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;

}
.work figure{
    width: 25vw;
    height: 50vh;
    background-position: center;
    background-size:contain ;
    background-repeat: no-repeat;
    background-color: #add4d9;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;

}
#ux_mockup{
    background-image: url(../images/ux_blue.png);
}
#web_mockup{
    background-image: url(../images/laptopWhitout_back.png);
    background-color: #add4d9;
}
#motion_mockup{
    background-image: url(../images/PetShop_motion.png);
}
.layer{
    width: calc(100% - 80px); 
    height: 0; 
    background: linear-gradient(#8d99ae7c,#d90429);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h3 {
    margin: 20px 0;
    color: #fff;
    font-size: 14px;
    
}
.layer p{
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}
.layer a{
    margin-top: 20px;
    color:#d90429;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover figure{
    transform: scale(1.3);

}
.work:hover .layer{
    height: 100%;
}
.btn{
display: block; 
margin: 50px auto; 
width: fit-content;
border: 1px solid #add4d9;
padding: 14px 50px;
border-radius: 6px; 
text-decoration: none;
color:#2b2d42;
transition: background 0.5s;
font-size: 16px;
transition: color 0.5s;

}

.btn:hover{
background: #add4d9;
color: #ffffff;
}

/* --------------------------Contact----------------- */
#contact{
    padding-top: 15vh;
    height: auto;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    color: #d90429;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration:none ;
    font-size: 30px;
    margin-right: 15px;
    color: #add4d9;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #d90429;
    transform: translateY(-5px);
    box-shadow: 0 0 20px #add4d9 ;
}
.btn2{
    display: inline-block;
    background-color: #add4d9;
    margin: 50px 0; 

}
.contact-right form{
    width: 100%;
}
form input , form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #4b5863;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}
form input::placeholder , form textarea::placeholder{
    color: #add4d9;

}
#about{
    height: auto;
} 
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyRight{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #add4d9;
    font-weight: 300;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}
.copyRight p i{
    color: #d90429;
}
nav .fa-solid{
    display: none;
}
/* -----------------------------------Responsive------------------------------ */
@media only screen and (max-width:600px){
    #header{
        width: calc(100vw - 20%);
        height: 100vh;
        display: flex;
        background-color: #edf2f4;
       
        padding: 0 10%;
        align-items: center;
        flex-direction: column;
        
    }
    
    .header_Hero{
        width:100vw;  
    }
    
   
    .header_text{
        font-size: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20vh;
    } 
    #header_container{
        display: flex;
        flex-direction: column;
    }
    .header_text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    #sidemenu{
        background:#add4d9; 
        position: fixed;
        top: 0; 
        right: -200px;
        width: 200px; 
        height: 100vh; 
        padding-top: 50px;
        z-index: 2; 
        transition: right ease 0.5s;
    }
   
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
        color: #4b5863;
        font-size: 30px;
    }
    .sub-title{
        font-size: 40px;
      
    }
    #image-AboutMe{
        height: 450px;
    }
    .aboutcol-1 , .aboutcol-2{
        flex-basis: 100%;
    }
    .aboutcol-1{
        margin-bottom: 30px;
    }
   .aboutcol-2{

        font-size: 14px;
    }
    .tab_links{
        font-size: 16px;
        margin-right: 20px;
    }
    .work figure{
        width: 90vw;
       
    }
    .contact-left , .contact-right{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-right{
        justify-content: center;
        margin-right: 25px;
    }
    form button{
        justify-self: center;
        background-color: #d90429;
    } 
    .copyRight{
        width: 100%;
        text-align: center;
        padding: 25px 0;
        background: #add4d9;
        font-weight: 300;
        margin-top: 20px;
        position: relative;
        bottom: 0;
    }
}

#msg{
color:#4b5863;
 margin-top: -40px; 
 display: block;
 font-weight: 600;
 font-size: 30px;
}

@keyframes sildeRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes SildeLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes slideTop {
    0%{
        transform: translateX(400px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes SlideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}